# Import Section

In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

# Data Gathering

In [57]:
df=pd.read_csv("spamraw.csv")

In [58]:
df

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

In [59]:
df.describe()

        type                    text
count   5559                    5559
unique     2                    5156
top      ham  Sorry, I'll call later
freq    4812                      30

In [60]:
X = df.text
y = df.type
df.isna().sum()

type    0
text    0
dtype: int64

# Data conversion to machine readable format

In [61]:
label_encoder = preprocessing.LabelEncoder()
df['type']= label_encoder.fit_transform(df['type'])

# Training and testing of Data

In [62]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2)
train_X.shape, test_X.shape, train_y.shape, test_y.shape

((4447,), (1112,), (4447,), (1112,))

# Data input

In [64]:
string=['URGENT! Your Mobile number has been awarded with a Â£2000 prize GUARANTEED. Call 09061790121 from land line. Claim 3030. Valid 12hrs only 150ppm']

# Tokenizing the input data

In [65]:
model = CountVectorizer()
train_count = model.fit_transform(train_X)
test_count = model.transform(string)

# Classification

In [66]:
clf = MultinomialNB()
clf.fit(train_count, train_y)
predictions = clf.predict(test_count)
predictions

array(['spam'], dtype='<U4')